<div class="jumbo-france">
  <h1>About</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'paris_france2.jpg', class: 'img-circle about-img', width: '200px' %>

    </div>
    <div class="col-md-6">
      <p>
        Jessica Oneida is a senior studying Strategic Communication, Business, and Design at the University of Utah. During the summer of 2013, she traveled to Spain with the U as a part of a six-week, Spanish-Intensive study abroad. This blog chronicles her time in Spain, additional travels, and reflections of the trip.
      </p>
    </div>
  </div>

</div>