<div class="jumbo-contact">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Contact</h1>
      <p>Feel free to contact me if you have any questions!</p>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="contact">Email:<a href="www.google.com"> jessica&#64;thebestblog.com</a></p>
          <p class="contact">Instagram:<a href="www.instagram.com"> &#64;foodtrucktotebag</a></p>
        </div>
      </div>

    </div>
  </div>



</div>