<div class="jumbo-france">
  <h1>Social Life and Culture</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'paris_france.jpg', class: 'img-circle', width: '200', height: '200' %>
      <hr/>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to 'Places to visit', pages_france_visit_path %>
    </div>
    <div class="col-md-6">

      <p>The culture of France and specifically Paris was definitely not as casual as the culture I experienced in Spain. In Paris, there are significantly more tourists than in northern Spain and as a result, you have to be on your absolute best behavior at all times. We knew going into our time in Paris, that we had to follow some different rules, especially when it came to meals. When eating at a restaurant in Paris, the waiter is king. That means, a waiter can refuse to serve you if you are being rude to them. We made sure we were extra polite and courteous when dining out and visiting museums so that we made a good impression.

        The social life aspect in Paris was very similar to that in Spain. The city dies down in the late afternoon and early evening for naps and decompressing from the day. As the sun sets, the streets begin to fill again as people emerge from their apartments to meet up with friends, eat dinner, and stroll around the city. Paris is known as the “City of Lights” and it certainly lives up to its name.
      </p>
    </div>
  </div>





</div>