<div class="jumbo-france">
  <h1>Places to visit in France</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'paris_france1.jpg', class: 'img-circle', width: '200px', height: '200px' %>
      <hr/>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to 'Social Life and Culture', pages_spain_path %>
        </li>
      </ul>

    </div>
    <div class="col-md-6">

      <p>Paris is full of things to see and places to visit. We packed a lot into our three short days in the city. We took a tour of the Tower Eiffel and even made our way up to the top. The panorama views of the city were incredible and also a little mdoggy. We also visited the Louvre and saw some amazing artwork. It was so incredible to see how detailed some of the paintings were. Each location was very crowded but definitely worth the time and energy spent into visiting them.

      We also took a nighttime tour of the city. The first part was a river cruise down the Seine River as the sun was setting. This was our chance to see a bunch architecture and parts of Paris in a quick time frame. My favorite thing we saw, however, was how the locals were using the concrete banks and bridges of the river. Many people had brought dinner to the river and would sit and eat while the boats cruised down the river. There is something magical about the traveling down the Seine as the sun sets and traditional French music plays in the background.  The second part was a driving tour and we stopped to take in views of the Tower Eiffel, Notre Dame de Paris, and the Champs-Élysées. We now clearly understood what was meant by “City of Lights."
      </p>
    </div>
  </div>

</div>