<div class="awesome">

    <div class="container-fluid">
      <div class="jumbo-home">
        <h1>Jessica's Study Abroad</h1>

        <p>Studying abroad was one of the best decisions of my life! I was able to spend six weeks studying the language
          and culture of Spain through the University of Utah. Through this blog, you will be able to see my adventures
          and opinions of the trip as a whole. It is my hope that after reading about my experience, you will be
          encouraged to travel and study abroad as well! Enjoy!
        </p>

      </div>

    </div>

</div>
