<div class="jumbo-france">
  <h1>Social Life and Culture</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'oviedo_spain.JPG', class: 'img-circle', width: '200', height: '200' %>
      <hr/>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to 'Places to visit', pages_spain_visit_path %>
        </li>
      </ul>

    </div>
    <div class="col-md-6">

      <p>Oviedo, Spain is where I spent my six week study abroad program during the summer of 2013 and there was a ton of cultural things to see and do there! Since Oviedo is a rather large city, there was a good amount of great local restaurants and clubs to visit. Spaniards love to eat, drink, go out, and have a good time. The night life in Spain is very busy and active.

        A typical Friday night in Spain goes something like this. Students return home from school for lunch and a nap at 1:00 pm. It is not just a stereotype, there really is time set aside for a siesta in Spain! After a siesta, you might go back out into town for a snack or coffee to meet up with friends before returning to your house to get ready for the evening. Starting around 8:30 pm, you would begin to meet up with your friends in the park, in a central part of town, or in front of the cathedral. Once everyone has met up, you would make your way to a restaurant for a meal. Dinner would typically last for 2-3 hours, depending on how much food you ordered. After dinner, your group would walk a few blocks to the busiest part of “downtown” for dancing and more socializing. The earliest we ever went home from a night out dancing was 2:30 am. The latest? 7:00 am, the next day! It’s what makes a Spanish lifestyle so appealing. Relaxing during the day and socializing with friends around a good meal at night. It is definitely something I miss about Spain!
      </p>
    </div>
  </div>

</div>