<div class="jumbo-france">
  <h1>Places to visit in Spain</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'san sebastian_spain2.jpg', class: 'img-circle', width: '200', height: '200' %>
      <hr/>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to 'Social Life and Culture', pages_spain_path %>
        </li>
      </ul>

    </div>
    <div class="col-md-6">

      <p>We were given a free weekend for traveling during our study abroad program and my group of friends chose to head south! It had been cold and rainy during the first few weeks of our trips so we decided we NEEDED to go to a beach. While making our decision, we looked at a train schedule and picked any place that was on the Southern coast of Spain. Alicante was the winner and as you can see it was warm and beautiful! It was a nice change front the cold and rainy North!

        A fun day trip that a few of us frequently made was twenty minutes north of Oviedo. This was a cute little beach town called Gijon and gave us a nice break from the landlocked city. In contrast to the warm southern beaches of Alicante, Gijon is cooler and was not always the best beach to spend a day at. When spending time there, we chose to walk on the beach, have picnics, and watch everyone else splash around in the freezing water.

        My favorite place to visit in Spain was San Sebastían, which also happens to be where my dad’s family is from originally. This city was a little bit bigger than Oviedo and was a major beach bum town. It is also right on the northern coast of Spain and is home to two beaches which are extremely popular for surfers.
      </p>
    </div>
  </div>

</div>