@import "bootvariables";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "animate";


body {
  padding-top: 50px;
}

// Helper classes

.center {
  text-align: center;
}

// Custom Jumbotrons

.jumbo-home {
  @extend .jumbotron;
  padding: 75px 0px;
  text-align: center;
  background: transparent;
  h1 {
    color: white;
  }
  p {
    text-align: center;
    color: #eeeeee;
  }
  z-index: 99;
}

.jumbo-about {

  @extend .jumbotron;
  padding: 75px 20px;
  background: $brand-gray;
}
.jumbo-contact {
  @extend .jumbotron;
  padding: 75px 0px;
  text-align: center;
  background: white;
  h1 {
    color: $accent;
  }
}
.awesome {
  background: linear-gradient(rgba(255, 99, 71, .7), rgba(255, 99, 71, .2)), image_url('gijon_spain.JPG');
  background-size: cover;
  height: 100vh;
  z-index: 1;

}
// Navbar

.navbar-default .navbar-nav > .active > a:hover {
  background: $accent;
}

// Contact Page
.contact {
  text-align: left;
}

@import "pages";

hr {
  border-top: 1px solid $accent;
}

li.list-group-item.active {
  a {
    color: #ffffff;
  }

}
a.fart {
  color: #ffffff;
}

.footer {
  background: $brand-primary;
  color: #ffffff;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%
}